*~
images/Thumbs.db
banner-bg.psd
.htaccess-server
slide.psd
images/extra/Thumbs.db
images/extra-thumb/Thumbs.db
images/guest-thumb/Thumbs.db
images/guest/Thumbs.db
images/gallery/Thumbs.db
images/gallery/sahyog10/Thumbs.db
images/gallery/sahyog11/Thumbs.db
images/gallery/sahyog12/Thumbs.db
images/gallery/resolution11/Thumbs.db
images/gallery/resolution12/Thumbs.db
images/gallery/protocol11/Thumbs.db
images/gallery/protocol12/Thumbs.db